<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title>BLACKSTONE</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="landing.css">
<link rel="stylesheet" href="responsive.css">
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<link rel="stylesheet" href="jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/font-awesome.css">
<link rel="stylesheet" href="owl.carousel.min.css">
<link rel="stylesheet" href="owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<%- include('../partials/user/header.ejs') %>
<body>
  <header>
    <nav>
      <h1>Shoe Store</h1>
      
    </nav>
  </header>

  <main>
    <h2>womes Shoes</h2>
    <div class="product-grid">
      <% if (products.length > 0) { %>
        <% products.forEach(product => { %>
          <div class="product-card">
            <img src="<%= product.image %>" alt="<%= product.name %>" />
            <h3><%= product.name %></h3>
            <p>Price: $<%= product.price.toFixed(2) %></p>
            <a href="/product/<%= product._id %>">View Details</a>
          </div>
        <% }) %>
      <% } else { %>
        <p>No products available right now. Please check back later!</p>
      <% } %>
    </div>
  </main>

  <footer>
    <p>&copy; <%= new Date().getFullYear() %> Shoe Store</p>
  </footer>

  <%- include('../partials/user/footer.ejs') %>

</body>
</html>
